.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 22%;
  height: 25vh;
  border: solid;
  border-color: teal;
  color: teal;
}

.name {
  margin: 1%;
}

.other-res-info {
  margin: 1%;
}

.cancel {
  margin: 10%;
  background-color: teal;
  color: white;
}
