.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 18%;
  height: 25vh;
  border: solid;
  border-color: teal;
  color: teal;
  margin: 1% 0 1% 0;
}

.name {
  margin: 1%;
}

p {
  margin: 1%;
}

.cancel {
  margin: 10%;
  background-color: teal;
  color: white;
}
